<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ProMan</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    </head>
    <body>
        {% if logged_in %}
        <div class="buttons" id="logout">
            <a href="{{ url_for('logout') }}"><button id="logout-button">Logout</button></a>
        </div>
        <div id="root"></div>
        {% else %}
        <div class="buttons" id="main">
            <div class="buttons" id="login">
                <a href="{{ url_for('login') }}"><button id="login-button">Login</button></a>
            </div>
            <div class="buttons" id="register">
                <a href="{{ url_for('register') }}"><button id="register-button">Register</button></a>
            </div>
        </div>
        {% endif %}
    </body>
</html>
