<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Proman - Register</title>
</head>
<body>
    <div class="container" id="main">
        <div id="main-header">
            <h1>Welcome to Proman of The Kingdom</h1>
        </div>
        <div class="container" id="form">
            <form action="{{ url_for('login_post') }}", method="post">
                <div>
                    <label for="username">Username: </label>
                    <input type="text" name="username" id="username" required>
                </div>
                <div>
                    <label for="password">Password: </label>
                    <input type="password" name="password" id="password" required>
                </div>
                <div>
                    <button type="submit">Login</button>
                </div>
                <div>
                    <a href="{{ url_for('index') }}">Back to Home</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>